html {
    background-color: @light-blue;
}
content {
    width: 100%;
    .main{
        background-color: @light-blue !important;

        padding-top: 1%;
        }
    .about{
        h3 {
            padding-top: 3%;
            margin-bottom: 3%;
        }
        margin: 2% 5%;
        padding: 0 5%;
        background-color: @light-blue + 40%;
        padding-bottom: 2%;
        border-radius: 15px;
    }
    .references {
        h3 {
            text-align: center;
        }
    }
    .justify {
        text-align: justify;
      }
    .about {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 5%;

        .block{
            display: flex;
            flex-direction: column;
            width: 30rem;
            background-color: @light-blue + 10%;
            margin-bottom: 3%;
            h3, p {
                padding: 5%;
            }
            @media @tablet {
                width: 48%;
            }
            @media @mobile {
                width: 100%;
            }
        }
        .btn {
            .button(@middle-blue, 50%, white);
            margin: 5%;
            padding-bottom: 1%;
            @media @mobile {
                width: 90%;
            }
          }
          
    }
}