header {
    display: flex;
    width: 100%;
    background-color: @dark-blue;
    margin-bottom: 2%;
    .imglogo {
        width: 50%;
        background-color: yellow;
        margin-left: 10%;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        // background-color: yellowgreen;
        width: 50%;
        padding-top: 3.25%;
        a {
            text-decoration: none;
            // background-color: purple;
            font-size: 2.5rem;
            text-transform: uppercase;
            margin-right: 3%;
            color: white;
            font-family: "Raleway", Helvetica, sans-serif;
        }
        a:last-child {
            margin-right: 0;
            // background-color: bisque;
            }
    }
}